* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}

.product-wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.product-cards-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product-cards-wrapper .product-card img{
    margin: 0 auto;
}
.product-card {
    padding: 15px;
    margin: 10px;
    width: 33%;
}
.product-image {
    text-align: center;
}
button {
    cursor: pointer;
}
.product-card button {
    padding: 15px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 45%;
    border: none;
    float: left;
    color: #fff;
    margin-left: 10px;
}
.product-info {
    padding: 5px;
}
.product-info .description {
    color: #878787;
}